<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About Us</a>
        </li>
        <li>
          <a href="#">Resources</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img alt="YourSpecialist Logo" width='200px' src="./assets/images/logo-w-text.jpg">
    </div>
    <div class="col-md-8">
      <h3>
        Find your NDIS Provider in your local area
      </h3>
      <form [formGroup]="myForm">
        <div>
          <div class="form-group">
            <label>My Postcode is:</label>
            <input type="text" autofocus class="form-control input-lg" placeholder="Enter postcode" formControlName="postcode">
          </div>
          <!-- Single button with keyboard nav -->
          <div class="btn-group" class="form-group" dropdown keyboardNav="true">
            <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary btn-lg" dropdownToggle>
              {{myForm.value.cluster || "Choose provider type"}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="simple-btn-keyboard-nav">
              <li role="menuitem"><a class="dropdown-item" href="#" (click)="chooseCluster('Search all provider types')">Search all provider types</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem" *ngFor="let c of clusters"><a class="dropdown-item" href="#" (click)="chooseCluster(c)">{{c}}</a></li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-success btn-lg" [disabled]="!myForm.valid" (click)="onSubmit()">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>
